
  <p id = "textoImagen">
      <img src="/fotos/foto.png" alt="Foto de Juan Quemada Vives"> 
      Autor: <%= nombreAutor %><br><br>
      Es catedrático del Departamento de Ingeniería de Sistemas Telemáticos de la Universidad Politécnica de Madrid. Actualmente, se encuentra participando, activamente, en los cursos en línea, masivos y a distancia que ofrece esta institución por medio de MiriadaX. El último de ellos es Desarrollo de servicios en la nube con node.js.<br>  
  </p>

  